<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
        >
    <filter>
        <blacklist>
            <directory suffix=".php">vendor/</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>